<p>Air sebagai media hidup memiliki peran penting dalam budidaya udang di tambak. Munculnya persoalan penyakit berawal dari perubahan kualitas dan kuantitas air tambak.</p>
<p>Muharjadi Atmomarsono, peneliti Balai Penelitian dan Pengembangan Budidaya Air Payau, Maros menyarankan dalam manajemen air, sebaiknya hanya mengganti air tambak bila diperlukan saja. Dalam pergantian air tambak sebaiknya dilakukan sesedikit mungkin, karena makin banyak dilakukan penggantian air memungkinkan terjadinya udang stress.</p>